@use "sass:math";
@use "sass:string";

h1#author-name {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

  > span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

@for $i from 1 through 2 {
  span:nth-child(#{$i}) {
    animation: fadeIn
      0.8s
      math.div(#{$i}s, 4s)
      forwards
      cubic-bezier(0.11, 0, 0.5, 0);
  }
}
