@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply h-screen w-screen bg-slate-300 bg-gradient-to-r from-slate-400 to-zinc-300 dark:bg-slate-900 dark:from-black dark:via-gray-800 dark:to-black;

  background-size: 400%;
  background-repeat: repeat-y;

  animation-name: background-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

main {
  @apply size-full p-6;
}

p {
  @apply text-base text-black dark:text-white;
}

h1 {
  @apply text-5xl text-black dark:text-white md:text-7xl;
}

h2 {
  @apply text-6xl text-black dark:text-white;
}

h3 {
  @apply text-5xl text-black dark:text-white;
}

h4 {
  @apply text-4xl text-black dark:text-white;
}

h5 {
  @apply text-3xl text-black dark:text-white;
}

h6 {
  @apply text-2xl text-black dark:text-white;
}

img {
  @apply text-transparent;
}

a:not(:has(svg)) {
  @apply w-fit text-cyan-700 hover:underline dark:text-cyan-500;
}
